<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>Ping operation</title>

  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
  <script src="/js/app.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid">
  <h2 class="text-center">[[${pageTitle}]]</h2>

  <div class="my-3">
    <form action="/operations" method="post"  th:object="${operation}"
          style="max-width: 550px; margin: 0 auto">

      <input type="hidden" th:field="*{id}" />
      <input type="hidden" th:field="*{status.id}" id="statusId" />

      <div class="p-3">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="title">Domain/IP</label>
          <div class="col-sm-9">
            <input type="text" th:field="*{domain}" required minlength="2" maxlength="128" class="form-control"
                   id="title" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="description">Result</label>
          <div class="col-sm-9">
            <textarea rows="6" th:field="*{result}" minlength="2" maxlength="1000" class="form-control"
                   id="description" />
          </div>
        </div>


        <div class="text-center">
          <input type="submit" value="Save" class="btn btn-primary btn-sm mr-2" />
          <input type="button" value="Run" id="btnCancel" class="btn btn-secondary btn-sm" />
        </div>
      </div>
    </form>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript">
connect();
  if(statusId.value == 2){
    setTimeout(() => {sendName()},200)
  }
    $(document).ready(function () {
      $("#btnCancel").on("click", function () {
      $("#description").val("");
      fetch('/operations/' + id.value, {
method: 'PATCH',
headers: {
'Content-Type': 'application/json',
},
})
.then(res => res)
.then(data => console.log(data))
.catch(error => console.error('Error patching data:', error));
      sendName();

        //window.location = "[[@{/tutorials}]]";
      });
    });
  </script>


</body>

</html>